body {
    font-family: sans-serif;
}

a {
    color: #3693b8;
    text-decoration: none;
}

a.home {
    padding: 1rem 0;
    font-weight: bold;
}

a:hover {
    color: #e08918;
}

h1 {
    background-color: #3693b8;
    border-radius: 10px;
    color: #fff;
    padding: 1rem;
}

h2 {
    background-color: #e08918;
    border-radius: 10px;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

h3 {
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

img {
    border-radius: 10px;
}

.navigation a {
    display: inline-block;
    width: 200px;
    height: 280px;
    margin-right: 1rem;
    border-radius: 10px;
    vertical-align: top;
    background-color: #e08918;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.navigation a:hover {
    background-color: #888;
}

.navigation a:hover img {
    opacity: 0.5;
}

.navigation img {
    display: block;
    object-fit:cover;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    height: 200px;
    margin-bottom: 1rem;
}

.navigation span {
    padding: 0 0.5rem;
}